[submodule "packages/sjasmplus/src"]
	path = packages/sjasmplus/src
	url = https://github.com/z00m128/sjasmplus.git
[submodule "packages/csid/src"]
	path = packages/csid/src
	url = git@github.com:StalePixels/csid-mod.git
[submodule "clients/pisend"]
	path = clients/pisend
	url = https://github.com/em00k/pisend-source
